<form action="/" method="post">
  <div class ="form-group">
    <label for="business">Add Business</label>
    <input id="business" class="form-control" name="business" type="text">
  </div>
    <button type="submit" class="btn">Submit business</button>
</form>
