<!DOCTYPE html>
<html>
  <head>
    <title>HELP! Review Site</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class="container">
      <div class="well">
        <h1>HELP! Reviews</h1>
      </div>
      <div class="well">
        <h3>
          <a href="/">Home</a>
        </h3>
        #parse( $template )
    </div>
  </body>
</html>
